body {
	font-family: 'Antic', sans-serif;
	color: #777;
    font-size: 18px;
	max-width: 1044px;
	margin: auto;
	position: relative;
}
h1 {
	font-size: 200%;
	color: #555;
    text-shadow: 1px 1px 2px #29292c;
}
h3 {
    font-size: 1.25%;
}
em {
    color: #5f5f5f;
	font-size: 99%;
	font-weight: 450;
}
.container {
	padding: 80px 120px;
	max-width: 1044px;
}
.container.text-center {
	padding: 25px;
}
.col-md-3 {
	padding: 0 0 25px 0;
}
.book {
    border: 1px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
	max-height: 250px;
	max-width: 250px;
}
.book:hover {
    border: 1px solid #333;
}
img.book {
	max-height: 250px;
	max-width: 250px;
}
button.accordion {
    background-color: #fff;
    color: #333;
    cursor: pointer;
    padding: 13px;
    width: 80%;
	max-width: 250px;
    border: 1px solid #333;
    text-align: center;
	font-size: 13px !important;
	font-weight: 500;
    letter-spacing: 3px;    
	outline: none;
    transition: 0.4s;
	display: block;
	margin: auto;
}
button.accordion:hover {
    background-color: #333;
    color: #fff;
}
button.accordion.active {
    background-color: #fff;
    color: #777;
    border-radius: 0;
    transition: .2s;
}
button.accordion:after {
    content: '\02795';
    font-size: 10px;
    color: #777;
    float: right;
    margin: 3px 0 0 5px;
}
button.accordion.active:after {
    content: "\2796";
}
button.accordion.active:hover {
    background-color: #29292c;
    color: #fff;
}
div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
}
div.panel.show {
    max-height: 500px;
    padding: 18px;
}
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
	max-width: 1044px;
}
@media (max-width: 600px) {
    
}
.left.carousel-control {
	margin-left: none;
}
.right.carousel-control {
	margin-right: none;
}
.bg-1 {
}
.bg-1 h3 {
}
.bg-1 p {
	font-style: italic;
}
/* Remove border and add padding to thumbnails */
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail p {
    margin-top: 15px;
    color: #444;
	font-size: 15px;
	letter-spacing: 3px;   
}

/* Black buttons with extra padding and without rounded borders */
.btn {
    padding: 10px 20px;
    background-color: #29292c;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
	font-size: 13px !important;
	font-weight: 500;
    letter-spacing: 1px;   
}

/* On hover, the color of .btn will transition to white with black text */
.btn:hover, .btn:focus {
    border: 1px solid #29292c;
    background-color: #fff;
    color: #2d2d30;
}

/* Add a dark gray background color to the modal header and center text */
.modal-header, h4, .close {
    background-color: #29292c;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}

.modal-header, .modal-body {
    padding: 40px 50px;
}
.modal-footer {
    background-color: #29292c;
}
/* Add a dark background color with a little bit see-through */ 

footer {
    background-color: #29292c;
    color: #f5f5f5;
    padding: 10px 0;
	width: 100%;
}

footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}
div.col-md-2.left {
	float: left;
	text-align: right;
	margin-left: 10%
}
div.col-md-2.right {
	float: left;
	text-align: left;
	margin-right: 10%
}
.span.bullet {
	font-size: 25px;
}




/* Add a dark background color with a little bit see-through */ 
.navbar {
	margin: auto;	
    margin-bottom: 0;
    background-color: #eee;
    font-size: 13px !important;
    letter-spacing: 4px;
	max-width: 1044px;
	border-bottom: 2px solid #303030;
}
.navbar li a, .navbar .navbar-brand { 
    color: #afafaf !important;
}
/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #000 !important;
	background-color:#fff !important;
}
.navbar-nav li a:active {
	color: #fff !important;
    background-color:#29292c !important;
}
/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
}
/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}
/* Dropdown */
.dropdown.menu {
    color: red ;
}
/* Dropdown links */
ul.dropdown-menu li a {
    color: #29292c !important;
}
/* On hover, the dropdown links will turn red */
ul.dropdown-menu li a:hover {
    background-color: #000 !important;
	color: #fff;
}
.dropdown-menu li a.active a {
	color: #fff !important;
    background-color:#29292c !important;
}